<div class="container">

	<h1><%= @page.title %></h1>

	<% @page.modules.each do |m| %>

		<% if m.keys[0] == 'text_block' %>

			<%= render 'text_block', text_block: @page.text_blocks[m['text_block']-1] %>

		<% end %>

	<% end %>

	<%= link_to 'pages', pages_path %>

</div>